{% extends 'main/base.html' %}

{% block content %}
    <h1>Клиенты</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ф.И.О.</th>
                <th>Email</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <a href="{% url 'mailing:client_detail' client.pk %}"
                           class="btn btn-info btn-sm">Просмотреть</a>
                        <a href="{% url 'mailing:client_update' client.pk %}"
                           class="btn btn-warning btn-sm">Изменить</a>
                        <a href="{% url 'mailing:client_delete' client.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<div class="row justify-content-center">
    <div class="col-6">
        {% if user.is_authenticated %}
                {% if user.is_superuser or not perms.mailing.can_deactivate_mailing %}
                    <a href="{% url 'mailing:client_create' %}" class="btn btn-success">Добавить клиента</a>
                {% endif %}
        {% endif %}
        <a href="{% url 'main:index' %}" class="btn btn-primary">На главную</a>
    </div>
</div>
{% endblock %}