<!-- templates/client_detail.html -->
{% extends 'main/base.html' %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><strong>Описание рассылки: {{ object.description }} </strong></p>
                            <p class="card-text">Сообщение рассылки: {{ object.message }}</p>
                            <p class="card-text">Статус рассылки: {{ object.status }}</p>
                            <p class="card-text">Дата начала рассылки: {{ object.start_time }}</p>
                            <p class="card-text">Дата завершения рассылки: {{ object.actual_end_time }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'mailing:mailing_list' %}"
                                       role="button">Назад</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}